{% extends 'base.html' %}
{% block banner_section %}{% endblock %}
{% block content %}
<!-- Inner Banner Wrapper Start -->
<div class="inner-banner">
  <div class="container">
    <h2>Services</h2>
    <ul class="inner-breadcrumb">
      <li><a href="{{SITEURL}}/index.html">Home</a></li>
    </ul>
  </div>
</div>
<!-- Inner Banner Wrapper End --> 
<!-- Inner Wrapper Start -->
<div class="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h2>Find The Best <span>Service for your Garden</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, <span class="green">sed diam nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet</span>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
        <ul class="unordered-list">
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
          <li>Sed diam nonummynibh euismod tincidunt ut laoreet dolore magna</li>
          <li>Consectetuer adipiscing elit, sed diam nonummy nibh euismod</li>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
        </ul>
      </div>
      <div class="col-sm-4 hidden-xs hidden-sm"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=333%C3%97498&w=333&h=498" alt="Grow Landscape" class="tool"/> </div>
    </div>
  </div>
  <div class="inner-services">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="callouts">
            <div class="icon"><i class="fa fa-pagelines" aria-hidden="true"></i></div>
            <div class="content">
              <h3>Lorem ipsum dolor</h3>
              <p>Coccaecat cupidatat aliqu proident sunt.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="callouts">
            <div class="icon"> <i class="fa fa-pagelines" aria-hidden="true"></i></div>
            <div class="content">
              <h3>consetuer adiping</h3>
              <p>Coccaecat cupidatat aliqu proident sunt.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="callouts">
            <div class="icon"><i class="fa fa-pagelines" aria-hidden="true"></i></div>
            <div class="content">
              <h3>sed nonummynibh</h3>
              <p>Coccaecat cupidatat aliqu proident sunt.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="callouts">
            <div class="icon"><i class="fa fa-pagelines" aria-hidden="true"></i></div>
            <div class="content">
              <h3>Aliquam volutpat</h3>
              <p>Coccaecat cupidatat aliqu proident sunt.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="callouts">
            <div class="icon"><i class="fa fa-pagelines" aria-hidden="true"></i></div>
            <div class="content">
              <h3>Laoreet magna</h3>
              <p>Coccaecat cupidatat aliqu proident sunt.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="callouts">
            <div class="icon"><i class="fa fa-pagelines" aria-hidden="true"></i></div>
            <div class="content">
              <h3> Euismod tincidunt</h3>
              <p>Coccaecat cupidatat aliqu proident sunt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}