{% extends 'base.html' %}

{% block banner_section %}{% endblock %}
<!-- Inner Wrapper Start -->
{% block content %}
<div class="inner-wrapper projects-gallery">
  <div class="container">
    <h2>What we do <span>Photo Gallery</span></h2>
    <div class="row">
      {% with gallery_images = page.content %}
      {% for image in gallery_images.split('\n') %}
      {% if image %}
      {% with image_notags = image|striptags %}
      {% with image_params = image_notags.split(" ", 1) %}
      <div class="gal-container">
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
          <div class="gal-list">
            <div class="box"> <a href="javascript:void(0)" data-toggle="modal" data-target="#zoom_{{loop.index}}">
              <div class="zoom"> <i class="fa fa-search" aria-hidden="true"></i> </div>
              <img src="{{SITEURL}}/static/images/{{page.gallery_imagedir}}/{{page.gallery_thumbprefix}}{{image_params.0}}" alt="{{image_params.1|e}}"> </a>
              <div class="modal fade" id="zoom_{{loop.index}}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="modal-body">
                      <img src="{{SITEURL}}/static/images/{{page.gallery_imagedir}}/{{image_params.0}}" alt="{{image_params.1|e}}">
                    </div>
                    <div class="modal-footer">
                      <h3>{{image_params.1|e}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endwith %}
      {% endif %}
      {% endfor %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
<!-- Inner Wrapper End --> 
<!-- Satisfied Wrapper Start-->
