{% extends 'base.html' %}

{% block content %}
<section class="our-services" style="">
  <div class="container">
    <h2>What we do <span>Our Products</span></h2>
    <div id="services" class="owl-carousel owl-theme">
      <div class="item">
        <div class="services"><i class="fa fa-pagelines" aria-hidden="true"></i>
          <h3>Granular Compost</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
          <a href="javascript:void(0)">Read More</a> </div>
      </div>
      <div class="item">
        <div class="services"><i class="fa fa-leaf" aria-hidden="true"></i>
          <h3>Dust compost</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
          <a href="javascript:void(0)">Read More</a> </div>
      </div>
      <div class="item">
        <div class="services"><i class="fa fa-tree" aria-hidden="true"></i>
          <h3>Liquid compost</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
          <a href="javascript:void(0)">Read More</a> </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}