{% extends 'base.html' %}

{% block content %}
<section class="our-services" style="">
  <div class="container">
    <h2>What we do <span>Our Products</span></h2>
    <div id="services" class="owl-carousel owl-theme">
      <div class="item">
        <div class="services"><i class="fa fa-pagelines" aria-hidden="true"></i>
          <h3>Granular Compost</h3>
          <p>
            3-5 mm in size, high nutrient content with rich organic content, beneficial microbial population, moisture retention
capacity. Recommended for cereals, vegetables and fruits.
          </p>
          <a href="{{SITEURL}}/products/granular-compost.html">Read More</a> </div>
      </div>
      <div class="item">
        <div class="services"><i class="fa fa-leaf" aria-hidden="true"></i>
          <h3>Dust compost</h3>
          <p>

Namuna dust products are designed for faster release of nutrients for crops at field.
It instantly provides crops with necessary macro and micro nutrients and helps
plants to recover from nutrient deficit shocks during their growing period.

          </p>
          <a href="{{SITEURL}}/products/dust-compost.html">Read More</a> </div>
      </div>
      <div class="item">
        <div class="services"><i class="fa fa-tree" aria-hidden="true"></i>
          <h3>Liquid compost</h3>
          <p>
Namuna liquid is designed for fertigation, home gardens, nursery plants, pot plants,
terrace farming, hydroponics.
          </p>
          <a href="{{SITEURL}}/products/liquid-compost.html">Read More</a> </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}